@model ProyectoMatricula.Modelos.pa_FuncionariosViewBag_Select_Result
@{
    ViewBag.Title = "Matricula UMCA | Modificar funcionarios";
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";
}

<h2 class="text-center">Modificar funcionarios</h2>
<div class="row justify-content-center align-items-center">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <form action="" method="post" id="frmFuncionario">
            <div class="form-group">
                <label>Nombre de funcionario:</label>
                <input type="text" class="form-control" name="Nombre_Funcionario" value="@Model.Nombre_Funcionario" id="Nombre_Funcionario"/>
            </div>
            <div class="form-group">
                <label>Cédula:</label>
                <input type="text" class="form-control" name="Cedula_Funcionario" value="@Model.Cedula_Funcionario" id="Cedula_Funcionario"/>
            </div>
            <div class="form-group">
                <label>Provincia</label>
                <select class="form-control" name="Id_Provincia" id="Provincia">
                    <option value="">Seleccione una provincia</option>
                    @{
                        foreach (ProyectoMatricula.Modelos.RetornaProvincias_Result posicionProvincia in this.ViewBag.ListaProvincias)
                        {
                            ///variable que indica si la provincia esta en el modelo
                            bool esIdProvinciaModelo = posicionProvincia.id_Provincia == Model.Id_Provincia;

                            if (esIdProvinciaModelo)
                            {
                                <option value="@posicionProvincia.id_Provincia" selected>@posicionProvincia.nombre</option>

                            }
                            else
                            {
                                <option value="@posicionProvincia.id_Provincia">@posicionProvincia.nombre</option>

                            }
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Cantón</label>
                <select class="form-control" name="Id_Canton" id="Canton">
                    <option value="">Seleccione un cantón</option>
                    @{
                        foreach (ProyectoMatricula.Modelos.RetornaCantones_Result posicionCanton in this.ViewBag.ListaCantones)
                        {
                            ///variable que indica si el canton esta en el modelo
                            bool esIdCanton = posicionCanton.id_Canton == Model.Id_Canton;

                            if (esIdCanton)
                            {
                                <option value="@posicionCanton.id_Canton" selected>@posicionCanton.nombre</option>

                            }
                            else
                            {
                                <option value="@posicionCanton.id_Canton">@posicionCanton.nombre</option>

                            }
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Distrito</label>
                <select class="form-control" name="Id_Distrito" id="Distrito">
                    <option value="">Seleccione un distrito</option>
                    @{
                        foreach (ProyectoMatricula.Modelos.sp_RetornaDistritos_Result posicionDistrito in this.ViewBag.ListaDistritos)
                        {
                            /// variable qie indica si el canton esta en el modelo

                            bool esIdDistrito = posicionDistrito.id_Distrito == Model.Id_Distrito;

                            if (esIdDistrito)
                            {
                                <option value="@posicionDistrito.id_Distrito" selected> @posicionDistrito.nombre</option>
                            }
                            else
                            {
                                <option value="@posicionDistrito.id_Distrito"> @posicionDistrito.nombre</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Fecha de contratación:</label>
                <input type="text" class="form-control" name="Fecha_Contratacion" value="@Model.Fecha_Contratacion.ToString("yyyy-MM-dd")" id="txtFechaContratacion" />
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Modificar</button>
            </div>
        </form>
    </div>
</div>
<div class="d-flex align-content-center justify-content-center">
    <a href="~/Matricula/IndexMatricula" class="btn btn-outline-secondary"><i class="fa fa-home" aria-hidden="true"></i> Menú principal</a> &nbsp;
    <a href="~/Funcionario/FuncionarioLista" class="btn btn-outline-primary"> <i class="fa fa-list" aria-hidden="true"></i> Lista de funcionarios</a>
</div>
<br />
@section scripts{
    <script src="~/Scripts/validacionesGenericas/validacionesGenericas.js"></script>
    <script src="~/Scripts/Funcionario/validarFuncionario.js"></script>
    <script src="~/Scripts/Funcionario/cargarGeografiaModificada.js"></script>
    <script src="~/Scripts/Funcionario/JQueryUIFuncionario.js"></script>
}

