@model ProyectoMatricula.Modelos.pa_CursosViewBag_Select_Result
@{
    ViewBag.Title = "Matricula UMCA | Eliminación de curso";
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";
}
<br />
<h1 class="text-center">Eliminar curso</h1>

<div class="row justify-content-center align-items-center">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <form method="post" id="frmCurso">
            <div class="form-group">
                <label>Nombre del curso:</label>
                <input type="text" name="Nombre_Curso" class="form-control" value="@Model.Nombre_Curso" disabled id="Nombre_Curso"/>
            </div>
            <div class="form-group">
                <label>Código del curso:</label>
                <input type="text" name="Codigo_Curso" class="form-control" value="@Model.Codigo_Curso" disabled  id="Codigo_Curso"/>
            </div>
            <div class="form-group">
                <label>Código requisito:</label>
                <select name="Codigo_Requisito" id="Codigo_Requisito" class="form-control" disabled>
                    <option value="">Seleccione una opción</option>
                    <option value="null" selected>Ninguno</option>
                    @{
                        foreach (ProyectoMatricula.Modelos.pa_CursosCodigos_Select_Result Curso in this.ViewBag.ListaCursos)
                        {
                            ///variable que indica si el curso esta en el modelo

                            bool esIdCurso = Curso.Codigo_Curso == Model.Codigo_Requisito;
                            if (esIdCurso)
                            {
                                <option value="@Curso.Id_Curso" selected>@Curso.Nombre_Curso</option>
                            }
                            else
                            {
                                <option value="@Curso.Id_Curso">@Curso.Nombre_Curso</option>
                            }

                        }
                    }
                </select>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary"><i class="fa fa-trash" aria-hidden="true"></i> Eliminar</button>
            </div>
        </form>
    </div>
</div>
<div class="d-flex align-content-center justify-content-center">
    <a href="~/Matricula/IndexMatricula" class="btn btn-outline-secondary"><i class="fa fa-home" aria-hidden="true"></i> Menú principal</a> &nbsp;
    <a href="~/Cursos/CursosLista" class="btn btn-outline-primary"><i class="fa fa-list" aria-hidden="true"></i> Lista de cursos</a>
</div>
<br />