@{ 
    ///Variable que posee datos del usuario
    ProyectoMatricula.Modelos.pa_Administrador_Select_Result modelo =
         (ProyectoMatricula.Modelos.pa_Administrador_Select_Result)this.Session["datosUsuario"];

    ///variable con la direccion de la vista del login 
    string urlLogin = Url.Action("Index", "Login");


    string urlCerrarSesion = Url.Action("CerrarSesion", "Login");

    /// variable para preguntar si la sesion se inició
    bool sesionIniciada = false;
    if (this.Session["logueado"] != null)
    {
        sesionIniciada = Convert.ToBoolean(this.Session["logueado"]);
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @Scripts.Render("~/bundles/Modernizr")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container body-content">
        <header class="text-center">
            <h1>Matricula UMCA</h1>
        </header>

        <nav class="navbar navbar-inverse navbar-fixed-top ">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="~/Matricula/IndexMatricula">Matricula UMCA</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="~/Matricula/IndexMatricula">Inicio</a></li>
                    @{
                        if (sesionIniciada == true)
                        {
                            if (modelo.Tipo_Usuario.ToString() == "ADM")
                            {
                                <li><a href="~/Estudiante/EstudianteLista">Estudiantes</a></li>
                                <li><a href="~/Funcionario/FuncionarioLista">Funcionarios</a></li>
                                <li><a href="~/Sedes/SedesLista">Sedes Universitarias</a></li>
                            }
                            <li><a href="#" id="linkCierreSesion">Salir</a></li>
                        }
                    }
                </ul>
            </div>
        </nav>
        @{
            /// si es verdadero cargar el cuerpo de la pagina hija
            if (sesionIniciada == true)
            {
                @RenderBody();
            }
            else
            {
                ///de lo contrario redireccionar al
                ///controlador de login y a su metodo index
                ///para que solicite los datos de inicio de sesion
                this.Response.Redirect(urlLogin);
            }
        }
        <div class="divCerrarSesion" hidden>
            <p>
                ¿Desea cerrar la sesión?
                <button id="btnSi" class="btn btn-success">Si</button>
                <button id="btnNo" class="btn btn-danger">No</button>
            </p>
        </div>
        <!-- Footer -->
        <footer class="page-footer font-small pt-4 bg-primary">
            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-12 mt-md-0 mt-3 text-center">
                        <!-- Content -->
                        <p><em><strong>Matricula UMCA</strong></em></p>
                    </div>
                </div>
                <!-- Copyright -->
                <div class="col-md-12 mt-md-0 mt-3 text-center">
                    <!-- Content -->
                    <p><em><strong>© 2020 Copyright</strong></em></p>
                </div>
                <!-- Copyright -->
            </div>
        </footer>
    </div>
    <!-- Footer -->
    @Scripts.Render("~/bundles/script_JQ_BO_JQV")
    @RenderSection("scripts", required: false)
</body>
</html>
