<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Matricula UMCA</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="~/Login/Index">Inicio</a></li>
                <li><a href="~/Estudiante/EstudianteLista">Estudiantes</a></li>
                <li><a href="~/Funcionario/FuncionarioLista">Funcionarios</a></li>
                <li><a href="~/Sedes/SedesLista">Sedes Universitarias</a></li>
            </ul>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
