@{ 
    ///Variable que posee datos del usuario
    ProyectoMatricula.Modelos.pa_Administrador_Select_Result modelo =
         (ProyectoMatricula.Modelos.pa_Administrador_Select_Result)this.Session["datosUsuario"];

    ///variable con la direccion de la vista del login 
    string urlLogin = Url.Action("Index", "Login");


    string urlCerrarSesion = Url.Action("CerrarSesion", "Login");

    /// variable para preguntar si la sesion se inició
    bool sesionIniciada = false;
    if (this.Session["logueado"] != null)
    {
        sesionIniciada = Convert.ToBoolean(this.Session["logueado"]);
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="Shortcut Icon" href="~/img/book.png" type="image/x-icon" />
    @Scripts.Render("~/bundles/Modernizr")
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    @Scripts.Render("~/bundles/script_JQ_BO_PO_JQV")
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
</head>
<body class="bg-light">
    <div class="body-content">
        <header class="text-center">
            <img src="~/img/imgLogo.png" class="img-fluid rounded mx-auto d-block" />
        </header>
        <br />

        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a href="~/Matricula/IndexMatricula" class="navbar-brand">Matricula UMCA</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="~/Matricula/IndexMatricula" class="nav-item nav-link">Inicio</a>
                    @{
                        if (sesionIniciada == true)
                        {
                            if (modelo.Tipo_Usuario.ToString() == "ADM")
                            {
                                <a href="~/Estudiante/EstudianteLista" class="nav-item nav-link">Estudiantes</a>
                                <a href="~/Funcionario/FuncionarioLista" class="nav-item nav-link">Funcionarios</a>
                                <a href="~/Sedes/SedesLista" class="nav-item nav-link">Sedes</a>
                                <a href="~/DireccionesCarrera/DireccionesCarreraLista" class="nav-item nav-link">Direcciones de carrera</a>
                                <a href="~/Cursos/CursosLista" class="nav-item nav-link">Cursos</a>
                                <a href="~/Carreras/CarrerasLista" class="nav-item nav-link">Carreras</a>
                                <a href="~/CursosCarrera/CursoCarreraLista" class="nav-item nav-link">Cursos por carrera</a>
                            }
                            <a href="#" class="nav-item nav-link" id="linkCierreSesion">Salir</a>
                        }
                    }

                </div>
            </div>
        </nav>
        @{
            /// si es verdadero cargar el cuerpo de la pagina hija
            if (sesionIniciada == true)
            {
                @RenderBody();
            }
            else
            {
                ///de lo contrario redireccionar al
                ///controlador de login y a su metodo index
                ///para que solicite los datos de inicio de sesion
                this.Response.Redirect(urlLogin);
            }
        }
        <div id="divCerrarSesion">
            <p class="text-center">¿Desea cerrar la sesión?</p>
            <div class="d-flex align-content-center justify-content-center">
                <button id="btnSi" class="btn btn-success">Si</button> &nbsp;
                <button id="btnNo" class="btn btn-danger">No</button>
            </div>
        </div>
        <!-- Footer -->
        <div class="footer-bottom bg-secondary text-white text-center font-weight-bolder">
            <div class="container">
                <br />
                <p class="pull-left copyright"> Copyright © 2020. Matrícula UMCA. </p>
                <br />
            </div>
        </div>
    </div>
    <!-- Footer -->
<script>
        $(function () {
            crearEventos();
        });
         function crearEventos() {
             $("#divCerrarSesion").dialog({
                 autoOpen: false,
                 height: 150,
                 width: 250,
                 modal: true,
                 title: 'Cerrar Sesión',
                 resizable: false
             });
             $("#linkCierreSesion").click(function () {
                 $("#divCerrarSesion").dialog("open");
             });
             $("#btnNo").click(function () {
                 $("#divCerrarSesion").dialog("close");
             });
             $("#btnSi").click(function () {
                 window.location.href = "@urlCerrarSesion";
             });
         }
     </script>
    @RenderSection("scripts", required: false)
</body>
</html>
