@model List<ProyectoMatricula.Modelos.pa_Sedes_Universitarias_Select_Result>
@{
    ViewBag.Title = "Matrícula UMCA | Lista de sedes";
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";
}

<br />
<h1 class="text-center">Lista de sedes</h1>
<br />
<form class="form-horizontal" method="post">
    <div class="form-group d-flex">
        <label for="Nombre_Sede">Nombre de Estudiante:</label>&nbsp;
        <input type="text" value="" id="Nombre_Sede" class="form-control" name="Nombre_Sede" /> &nbsp;
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>
<table class="table text-center table-hover table-bordered table-striped">
    <tr>
        <th>Identificador</th>
        <th>Nombre</th>
        <th>Código</th>
        <th>Director</th>
        <th>Provincia</th>
        <th>Cantón</th>
        <th>Distrito</th>
        <th>Dirección</th>
        <th colspan="2">Acciones</th>
    </tr>
    @{
        foreach (ProyectoMatricula.Modelos.pa_Sedes_Universitarias_Select_Result posicionModelo in this.Model)
        {
            <tr>
                <td>@posicionModelo.Id_Sedes_universitarias</td>
                <td>@posicionModelo.Nombre_Sede</td>
                <td>@posicionModelo.Codigo_Sede</td>
                <td>@posicionModelo.Nombre_Funcionario</td>
                <td>@posicionModelo.Provincia</td>
                <td>@posicionModelo.Canton</td>
                <td>@posicionModelo.Distrito</td>
                <td>@posicionModelo.Direccion_Fisica</td>
                <td></td>
                <td></td>
            </tr>
        }
    }
</table>
