@model ProyectoMatricula.Modelos.pa_Sedes_UniversitariasViewBag_Select_Result
@{
    ViewBag.Title = "Matrícula UMCA | Modificación de Sedes";
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";
}

<h2 class="text-center">Modificar Sede</h2>
<div class="row justify-content-center align-items-center h-100 border-left border-right">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <form method="post" id="frmSedes">
            <div class="form-group">
                <label>Nombre de sede:</label>
                <input type="text" class="form-control" name="Nombre_Sede" value="@Model.Nombre_Sede" disabled />
            </div>
            <div class="form-group">
                <label>Código de sede:</label>
                <input type="text" class="form-control" name="Codigo_Sede" value="@Model.Codigo_Sede" disabled/>
            </div>
            <div class="form-group">
                <label>Director</label>
                <select class="form-control" name="Id_Director" disabled>
                    <option value="">Seleccione un director</option>
                    @{
                        foreach (ProyectoMatricula.Modelos.pa_Sedes_Universitarias_DirectorViewBag_Select_Result posicionDirector in this.ViewBag.ListaDirectores)
                        {
                            ///variable que indica si la provincia esta en el modelo

                            bool esIdDirector = posicionDirector.Id_Funcionario == Model.Id_Director;

                            if (esIdDirector)
                            {
                                <option value="@posicionDirector.Id_Funcionario" selected>@posicionDirector.Nombre_Funcionario</option>
                            }
                            else
                            {
                                <option value="@posicionDirector.Id_Funcionario">@posicionDirector.Nombre_Funcionario</option>
                            }


                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Provincia</label>
                <select class="form-control" name="Id_Provincia" id="Provincia" disabled>
                    <option value="">Seleccione una provincia</option>
                    @{
                        foreach (ProyectoMatricula.Modelos.RetornaProvincias_Result posicionProvincia in this.ViewBag.ListaProvincias)
                        {
                            ///variable que indica si la provincia esta en el modelo
                            bool esIdProvinciaModelo = posicionProvincia.id_Provincia == Model.Id_Provincia;

                            if (esIdProvinciaModelo)
                            {
                                <option value="@posicionProvincia.id_Provincia" selected>@posicionProvincia.nombre</option>

                            }
                            else
                            {
                                <option value="@posicionProvincia.id_Provincia">@posicionProvincia.nombre</option>

                            }
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Cantón</label>
                <select class="form-control" name="Id_Canton" id="Canton" disabled>
                    <option value="">Seleccione un cantón</option>
                    @{
                        foreach (ProyectoMatricula.Modelos.RetornaCantones_Result posicionCanton in this.ViewBag.ListaCantones)
                        {
                            ///variable que indica si el canton esta en el modelo
                            bool esIdCanton = posicionCanton.id_Canton == Model.Id_Canton;

                            if (esIdCanton)
                            {
                                <option value="@posicionCanton.id_Canton" selected>@posicionCanton.nombre</option>

                            }
                            else
                            {
                                <option value="@posicionCanton.id_Canton">@posicionCanton.nombre</option>

                            }
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Distrito</label>
                <select class="form-control" name="Id_Distrito" id="Distrito" disabled>
                    <option value="">Seleccione un distrito</option>
                    @{
                        foreach (ProyectoMatricula.Modelos.sp_RetornaDistritos_Result posicionDistrito in this.ViewBag.ListaDistritos)
                        {
                            /// variable qie indica si el canton esta en el modelo

                            bool esIdDistrito = posicionDistrito.id_Distrito == Model.Id_Distrito;

                            if (esIdDistrito)
                            {
                                <option value="@posicionDistrito.id_Distrito" selected> @posicionDistrito.nombre</option>
                            }
                            else
                            {
                                <option value="@posicionDistrito.id_Distrito"> @posicionDistrito.nombre</option>
                            }
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Dirección física:</label>
                <input type="text" class="form-control" name="Direccion_Fisica" value="@Model.Direccion_Fisica" disabled/>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Eliminar</button>
            </div>
        </form>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/validacionesGenericas/validacionesGenericas.js"></script>
    <script src="~/Scripts/Sedes/cargaGeografiaModificada.js"></script>
}

