@model List<ProyectoMatricula.Modelos.pa_Estudiantes_Select_Result>
@{
    ViewBag.Title = "Matricula UMCA | Lista de estudiantes";
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";
}
<h1 class="text-center">Lista de estudiantes</h1>
    <form class="d-flex align-content-center justify-content-center" method="post">
            <label for="Estudiante">Nombre de estudiante:</label>&nbsp;
            <input type="text" value="" id="Estudiante" class="form-control" name="Nombre_Estudiante" /> &nbsp;
            <label>Cedula de funcionario:</label>&nbsp;
            <input type="text" value="" class="form-control" name="Carne_Estudiante" />&nbsp;
            <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <br />
    <table class="table text-center table-hover table-bordered  table-striped">
        <tr>
            <th>Identificador</th>
            <th>Estudiante</th>
            <th>Cédula</th>
            <th>Provincia</th>
            <th>Cantón</th>
            <th>Distrito</th>
            <th>Inicio</th>
            <th>Carné</th>
            <th colspan="2">Acciones</th>
        </tr>
        @{
            foreach (ProyectoMatricula.Modelos.pa_Estudiantes_Select_Result posicionModelo in this.Model)
            {
                <tr>
                    <td>@posicionModelo.Id_Estudiante</td>
                    <td>@posicionModelo.Nombre_Estudiante</td>
                    <td>@posicionModelo.Cedula_Estudiante</td>
                    <td>@posicionModelo.Provincia</td>
                    <td>@posicionModelo.Canton</td>
                    <td>@posicionModelo.Distrito</td>
                    <td>@posicionModelo.Fecha_Inicio_U.ToString("yyyy-MM-dd")</td>
                    <td>@posicionModelo.Carne</td>
                    <td>
                        <a href="~/Estudiante/EstudianteModifica?Id_Estudiante=@posicionModelo.Id_Estudiante">Modificar</a>
                    </td>
                    <td>
                        <a href="~/Estudiante/EstudianteEliminar?Id_Estudiante=@posicionModelo.Id_Estudiante">Eliminar</a>
                    </td>
                </tr>
            }
        }
    </table>
    <div class="d-flex align-content-center justify-content-center">
        <a href="~/Matricula/IndexMatricula" class="btn btn-outline-secondary">Menú principal</a> &nbsp;
        <a href="~/Estudiante/EstudianteNuevo" class="btn btn-outline-primary">Agregar estudiante</a>
    </div>
    <br />
