@model ProyectoMatricula.Modelos.pa_EstudiantesViewBag_Select_Result
@{
    ViewBag.Title = "Matriucla UMCA | Modificación de estudiantes";
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";
}

<h2 class="text-center">Modificación de estudiante</h2>
<div class="row justify-content-center align-items-center">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <form method="post" id="frmEstudiante">
            <div class="form-group">
                <label for="txtNombre">Nombre Completo</label>
                <input type="text" id="txtNombre" name="Nombre_Estudiante" class="form-control" value="@Model.Nombre_Estudiante" />
            </div>
            <div class="form-group">
                <label for="txtCedula">Cédula</label>
                <input type="text" id="txtCedula" name="Cedula_Estudiante" class="form-control" value="@Model.Cedula_Estudiante" />
            </div>
            <div class="form-group">
                <label for="">Provincia</label>
                <select name="Id_Provincia" class="form-control" id="Provincia">
                    <option value="">Seleccione una provincia</option>
                    @{
                        foreach (ProyectoMatricula.Modelos.RetornaProvincias_Result posicionProvincia in this.ViewBag.ListaProvincias)
                        {
                            ///variable que indica si la provincia esta en el modelo
                            bool esIdProvinciaModelo = false;

                            if (posicionProvincia.id_Provincia == Model.Id_Provincia)
                            {
                                esIdProvinciaModelo = true;
                            }


                            if (esIdProvinciaModelo)
                            {
                                <option value="@posicionProvincia.id_Provincia" selected>@posicionProvincia.nombre</option>

                            }
                            else
                            {
                                <option value="@posicionProvincia.id_Provincia">@posicionProvincia.nombre</option>

                            }
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="">Cantón</label>
                <select name="Id_Canton" class="form-control" id="Canton">
                    <option value="">Seleccione un cantón</option>
                    @{
                        foreach (ProyectoMatricula.Modelos.RetornaCantones_Result posicionCanton in this.ViewBag.ListaCantones)
                        {
                            ///variable que indica si el canton esta en el modelo
                            bool esIdCanton = posicionCanton.id_Canton == Model.Id_Canton;

                            if (esIdCanton)
                            {
                                <option value="@posicionCanton.id_Canton" selected>@posicionCanton.nombre</option>

                            }
                            else
                            {
                                <option value="@posicionCanton.id_Canton">@posicionCanton.nombre</option>

                            }
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Distrito</label>
                <select class="form-control" name="Id_Distrito" id="Distrito">
                    <option value="">Seleccione un distrito</option>
                    @{
                        foreach (ProyectoMatricula.Modelos.sp_RetornaDistritos_Result posicionDistrito in this.ViewBag.ListaDistritos)
                        {
                            /// variable qie indica si el canton esta en el modelo

                            bool esIdDistrito = posicionDistrito.id_Distrito == Model.Id_Distrito;

                            if (esIdDistrito)
                            {
                                <option value="@posicionDistrito.id_Distrito" selected> @posicionDistrito.nombre</option>
                            }
                            else
                            {
                                <option value="@posicionDistrito.id_Distrito"> @posicionDistrito.nombre</option>
                            }
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="txtFechaInicioU">Fecha de Inicio</label>
                <input type="text" id="txtFechaInicioU" name="Fecha_Inicio_U" class="form-control" value="@Model.Fecha_Inicio_U.ToString("yyyy-MM-dd")" />
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Modificar</button>
            </div>
        </form>
    </div>
</div>
<br />
<div class="d-flex align-content-center justify-content-center">
    <a href="~/Matricula/IndexMatricula" class="btn btn-outline-secondary">Menú principal</a> &nbsp;
    <a href="~/Estudiante/EstudianteLista" class="btn btn-outline-primary">Lista de estudiantes</a>
</div>
<br />
@section scripts{
    <script src="~/Scripts/validacionesGenericas/validacionesGenericas.js"></script>

    <script src="~/Scripts/Estudiante/validarEstudiante.js"></script>

    <script src="~/Scripts/Estudiante/cargarGeografiaModificada.js"></script>

    <script src="~/Scripts/Estudiante/JqueryUIEstudiante.js"></script>
}

