@model  ProyectoMatricula.Modelos.pa_Administrador_Select_Result
@{
    ViewBag.Title = "Matricula UMCA | Página Principal";
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";

}
@*
     Crear el formulario e indicarle el action y el método
    "action = variable" creada en la línea 6
    method tiene que ser post, ya que el get nos direcciona a la vista
*@

<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-1"></label>
        <div class="col-sm-10">
            <h2>Bienvenido(a) @Html.DisplayFor(model => model.Primer_Apellido) @Html.DisplayFor(model => model.Segundo_Apellido) @Html.DisplayFor(model => model.Primer_Nombre),
            última vez: @Html.DisplayFor(model => model.Fecha_Ultimo_Ingreso)</h2>
        </div>
    </div>
</form>
@*
    Mostrar los mensajes que se envian desde el controlador (Ej:controlador):
    this.ModelState.AddModelError("","Usuario o contraseña inválidos.Por favor inténtelo de nuevo");

    Preguntar para que sirve la siguiente linea de codigo
    @Html.ValidationSummary(true)
    ///valida los datos desde del servidor
*@

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <span class="sprite imgSlider1">.</span>
        </div>
        <div class="carousel-item">
            <span class="sprite imgSlider2">.</span>
        </div>
        <div class="carousel-item">
            <span class="sprite imgSlider3">.</span>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
<div style="display:flex;align-content:center;justify-content:center;">
    <div style="width:320px;height:320px;float:left">
        <video width="320" height="320" controls>
            <source src="~/media/Anuncio.mp4" type="video/mp4" />
            El navegador no soporta videos
        </video>
    </div>
    <div style="width:300px;height:54px;float:left; padding-top:160px">
        <audio controls="controls">
            <source src="~/media/C418-WetHands-MinecraftVolumeAlpha.mp3" type="audio/mpeg" />
            El navegador no soporta audio
        </audio>
    </div>
</div>
<div style="clear:both"></div>
<br />