@model  List<ProyectoMatricula.Modelos.pa_Cuatrimestre_Select_Result>
@{
    ViewBag.Title = "Matrícula UMCA | Lista de cuatrimestres";
    Layout = "~/Views/Shared/_LayoutMatricula.cshtml";
}

<h1 class="text-center">Lista de cuatrimestres</h1>
<form class="d-flex align-content-center justify-content-center" method="post">
    &nbsp;
    <label class="form-check-label" id="lblSedeUniversitaria">Sede universitaria</label>&nbsp;
    <input type="text" value="" id="Nombre_Sede" name="Nombre_Sede" class="form-control"/>
    &nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>Buscar</button>
</form>
<br />
<table class="table text-center table-hover table-bordered table-striped">
    <tr>
        <td>Identificador</td>
        <td>Cuatrimestre</td>
        <td>Año</td>
        <td>Sede</td>
        <td>Inicio de cuatrimestre</td>
        <td>Fin de cuatrimestre</td>
        <td colspan="5"></td>
    </tr>
    @{
        foreach (ProyectoMatricula.Modelos.pa_Cuatrimestre_Select_Result posicionModelo in this.Model)
        {
        <tr>
            <td>@posicionModelo.Id_Cuatrimeste</td>
            <td>@posicionModelo.Numero_Cuatrimestre</td>
            <td>@posicionModelo.Anio_Cuatrimestre</td>
            <td>@posicionModelo.Nombre_Sede</td>
            <td>@posicionModelo.Inicio_Cuatrimestre</td>
            <td>@posicionModelo.Fin_Cuatrimestre</td>
            <td><a href="/Cuatrimestre/IniciarCuatrimestre?Id_Cuatrimeste=@posicionModelo.Id_Cuatrimeste">Iniciar cuatrimestre</a></td>
            <td><a href="~/Cuatrimestre/OfertaCursosPorSede?Numero_Cuatrimestre=@posicionModelo.Numero_Cuatrimestre&Id_Sedes_universitarias=@posicionModelo.Id_Sedes_universitarias&Anio_Cuatrimestre=@posicionModelo.Anio_Cuatrimestre">Ofertar cursos</a></td>
            <td><a href="~/Cuatrimestre/MatriculaEstudianteCurso?Numero_Cuatrimestre=@posicionModelo.Numero_Cuatrimestre&Id_Sedes_universitarias=@posicionModelo.Id_Sedes_universitarias&Anio_Cuatrimestre=@posicionModelo.Anio_Cuatrimestre">Matrícula</a></td>
            <td><a href="~/Cuatrimestre/RegistroNotasCurso?Numero_Cuatrimestre=@posicionModelo.Numero_Cuatrimestre&Id_Sedes_universitarias=@posicionModelo.Id_Sedes_universitarias&Anio_Cuatrimestre=@posicionModelo.Anio_Cuatrimestre">Registro notas</a></td>
            <td><a href="~/Cuatrimestre/FinalizarCurso?Numero_Cuatrimestre=@posicionModelo.Numero_Cuatrimestre&Id_Sedes_universitarias=@posicionModelo.Id_Sedes_universitarias&Anio_Cuatrimestre=@posicionModelo.Anio_Cuatrimestre">Finalizar cursos</a></td>
        </tr>
        }
    }
</table>
<div class="d-flex align-content-center justify-content-center">
    <a href="~/Matricula/IndexMatricula" class="btn btn-outline-secondary"><i class="fa fa-home" aria-hidden="true"></i> Menú principal</a> &nbsp;
</div>
<br />
